@media screen and (min-width: 800px) and (max-width: 1200px) {
  .classForaMediumScreen {
    background: #cc0000;
    width: 30%;
    float: right;
 }
}
.grid {
    display: grid;
    width: 1100px;
    height: 800px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 0.5rem;
    grid-template-areas: "h h h "
                         "con-1 con-2 sidebar"
                         "con-3 con-3 sidebar"
                         "f-1 f-2 f-3";
  }
  
  .h {
    grid-area: h;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .con-1 {
    grid-area: con-1;
  }
  
  .con-2 {
    grid-area: con-2;
  }
  
  .con-3 {
    grid-area: con-3;
  }
  
  .f-1 {
    grid-area: f-1
  }
  .f-2 {
    grid-area: f-2;
  }
  .f-3 {
    grid-area: f-3;
  }
  
  .item {
    background-color: #86efa9;
    background-image: linear-gradient(130deg, #f4c2d9 0%, #600a8e 85%, #f1c7e5 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #b8f4ca;
    border-radius: 5px;
    border: 6px solid #37f02d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .h {
    background-color: #17df5d;
  }
  
  .sidebar {
    background-image: url(../img/IMAGE\ \(3\).png);
    width: 98%;
  }
  
  .con-1,
  .con-2,
  .con-3 {
    background-image: url(../img/IMAGE\ \(2\).png);;
  }
  
  .f-1,
  .f-2,
  .f-3  {
    background-color: #87e4b4;
  }
  